 input,  select {
    /* width: 100%; */
    padding: .5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 6px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .forms{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100% !important;
    height: 100%;
    background: rgb(0 0 0 / 24%);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    z-index: 1000;
    transition: .3s;
  }
  form {
    margin-bottom: 1rem;
    border: 1px solid #2c3e50a6;
    width: fit-content;
    margin: 6.5rem auto;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

}
.model-content{
    border: 1px solid;
    padding: 1rem;
    color: #2c3e50;
  }
.formContent {
    display: grid;
    width: 20rem;
    padding:1rem 1rem;
    position: relative;

}
form .formTitle {
    color: #fff;
    background-color: #2c3e50;
    text-align: center;
    padding: 1.0rem;
    margin-top: 0;
    /* width: calc(100% - 1rem); */
    position: absolute;
    top: -54px;
    left: -1px;
    width: 20rem;
    border: 1px solid #2c3e50a6;
}
.formContent button{
    padding:  .5rem;
    background: #00eb00;
    color: #fff;

}
.formContent button:last-child{
    margin-top: 4px;
    background-color: red;
    color: #fff;

}
